@use "../styles/utils.scss" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
span {
  margin: 0;
  padding: 0;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

img {
  -webkit-user-drag: none; /* Prevent dragging in WebKit-based browsers */
  user-drag: none; /* Standard way, currently not supported in all browsers */
  -webkit-user-select: none; /* WebKit browsers */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax; currently supported by Chrome, Opera, and Safari */
  pointer-events: none; /* Prevents events like click, mousedown, etc. */
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.66;
}

button,
a,
img {
  -webkit-tap-highlight-color: rgba(243, 247, 252, 0.03);
  touch-action: manipulation;
}

img {
  display: block;
}

button {
  font-family: inherit;
  font-size: 100%;
  text-transform: none;
  margin: 0;
  padding: 0;
  border: none;
  // outline: none;
  background: none;
  line-height: inherit;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--clr-text-100);
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: unset;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
