---
import Navigation from "./Navigation.astro";
import logo from "../assets/icons/logo-kooa.svg";
import { Image } from "astro:assets";
import Contact from "./Contact.astro";
import Configurator from "./Configurator.astro";
---

<header mobile-header data-lenis-prevent>
  <div class="header-wrapper">
    <Navigation />
  </div>
</header>

<style lang="scss">
  @use "../styles/utils.scss" as *;

  $border-radius: calc(var(--border-radius) + 4px);

  .transition {
    transition:
      scale 500ms cubic-bezier(0.75, 0, 0, 1.15),
      border-radius 500ms cubic-bezier(0.75, 0, 0, 1);
  }

  header[mobile-header] {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100vh;
    height: 100svh;
    max-height: 100vh;
    max-height: 100svh;
    min-height: 0;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 0.75rem;
    @include s(padding-bottom, 12, 28);
    /* align-items: flex-end; */
    overflow-y: auto;
    pointer-events: none;
    z-index: 100;
    /* existing styles */
    overflow-y: auto;

    .header-wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      height: 400px;
      flex-shrink: 0;
      overflow-y: hidden;
      overflow-x: hidden;
    }

    .hub {
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: all;
    }
    .navigation-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .default-hub {
      display: flex;
      gap: 0.75rem;
      padding: 1rem;
      height: 4.125rem;
      width: 10.375rem;
      align-items: center;
      justify-content: center;
    }

    #logo,
    #burger {
      position: relative;
      z-index: 30;
      opacity: 1;
      padding: 8px;
      transition:
        transform 500ms cubic-bezier(0.42, 0.23, 0.25, 1.2),
        opacity 500ms cubic-bezier(0.42, 0.23, 0.25, 1) 250ms;

      padding: unset;
      span {
        // background-color: red;
        display: block;
        padding: 8px;

        transition: color 0.3s cubic-bezier(0.5, 0, 0.15, 1);
        @media (hover: hover) {
          &:hover {
            color: var(--clr-text-400);
          }
        }
      }
      img {
        opacity: 1;
        transition: opacity 400ms cubic-bezier(0.11, 0.49, 0.43, 1) 250ms;
      }
    }
    #burger {
      // margin-top: 1px;

      @media screen and (min-width: 81.25rem) {
        font-size: 1.0625rem;
      }
    }
  }
</style>
