---
import "../styles/normalize.css";
import "../styles/reset.scss";
import Header from "../components/Header.astro";
import Modal from "../components/Modal.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="theme-color" content="#07080b" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex" />

    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js"
    ></script>
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/ScrollTrigger.min.js"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.29/bundled/lenis.min.js"
    ></script>

    <title>{title}</title>
  </head>
  <body>
    <!-- <div class="marker"></div> -->
    <Header />
    <div class="transition-overlay"></div>
    <!-- <div class="noise"></div> -->
    <main id="swup" class="transition-fade">
      <div class="modal-background close-modal"></div>
      <Modal
        id="1page-icon"
        type="page"
        title="Jusqu'à 1 page"
        benefits="Une page unique, conçue sur mesure et codée à la main qui agit comme votre carte de visite numérique."
        features={[
          "Design personnalisé qui s'aligne avec votre marque",
          "Codée à la main pour une meilleure performance et SEO",
          "Chargement rapide et adaptatif pour mobile",
        ]}
        why="Idéal pour les startups ou les marques personnelles qui souhaitent faire une forte première impression sans submerger le visiteur."
      />
      <Modal
        id="5page-icon"
        type="page"
        title="Jusqu'à 5 pages"
        benefits="Un site web complet de cinq pages, conçu sur mesure pour présenter votre entreprise et vos services de manière professionnelle."
        features={[
          "Cinq pages incluant accueil, à propos, services, blog, et contact.",
          "Design sur mesure pour une cohérence visuelle avec l'identité de votre marque.",
          "Développement optimisé pour les moteurs de recherche et une navigation fluide.",
          "Site réactif s'adaptant à tous les types d'appareils pour une expérience utilisateur optimale.",
        ]}
        why="Parfait pour les entreprises en croissance et les professionnels souhaitant établir une présence en ligne complète, reflétant la qualité et la gamme de leurs services, tout en restant facile à naviguer pour les visiteurs."
      />
      <Modal
        id="10page-icon"
        type="page"
        title="Jusqu'à 10 pages"
        benefits="Un site web étendu de dix pages, conçu pour offrir une expérience utilisateur complète et une présentation détaillée de votre entreprise."
        features={[
          "Dix pages pour une exploration complète de votre entreprise, incluant l'accueil, à propos, services, portfolio, blog, témoignages, FAQ, équipe, magasin, et contact.",
          "Architecture de l'information soignée pour guider les visiteurs à travers votre site avec facilité.",
          "Design élégant et personnalisé pour renforcer votre identité de marque et engagement client.",
          "Optimisation avancée pour les moteurs de recherche et performance accrue.",
          "Adaptabilité totale à tous les appareils, assurant une expérience utilisateur homogène et professionnelle.",
        ]}
        why="Conçu pour les entreprises établies ou en pleine expansion désirant offrir une ressource en ligne exhaustive à leurs clients, capturer plus de leads, et fournir un contenu riche et éducatif. Ce package permet une immersion totale dans l'univers de la marque et soutient une stratégie de contenu solide."
      />
      <slot />
    </main>
  </body>
</html>

<style is:global lang="scss">
  @use "../styles/utils.scss" as *;

  :root {
    --clr-bg-900: #07080b;
    --clr-bg-700: #0f1014;
    --clr-bg-600: #1a1b20;
    --clr-text-100: #f4f8fc;
    --clr-text-400: #858a97;
    --clr-text-700: #16171b;
    // --clr-text-700: #161920;
    --clr-text-alarm: #dd0808;

    --border-radius: 10px;

    --clr-border: rgba(255, 255, 255, 0.03);
    --space-unit: 1rem;
    --space-xxs: calc(0.25 * var(--space-unit)); //4px
    --space-xs: calc(0.5 * var(--space-unit)); //8px
    --space-sm: calc(0.75 * var(--space-unit)); //12px
    --space-md: calc(1.25 * var(--space-unit)); //20px
    --space-lg: calc(2 * var(--space-unit)); //32px
    --space-xl: calc(3.25 * var(--space-unit)); //52px
    --space-xxl: calc(5.25 * var(--space-unit)); //84px

    --breakpoint-sm: 37.5rem /* 600px -> 37.5rem */;
    --breakpoint-sm: 56.25rem /* 900px -> 56.25rem */;
    --breakpoint-sm: 75rem /* 1200px -> 75rem */;
    --breakpoint-sm: 112.5rem /* 1800px -> 112.5rem */;

    --animation: 0.5s cubic-bezier(0.6, 0, 0.1, 1);

    --width: calc(100% - 30px);
  }
  @font-face {
    font-family: "Geist";
    src: url("/fonts/GeistVariableVF.woff2") format("woff2-variations");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Outfit";
    src:
      url("/fonts/Outfit-SemiBold.woff2") format("woff2"),
      url("/fonts/Outfit-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Kepler";
    src:
      url("/fonts/Kepler-SemiBold.woff2") format("woff2"),
      url("/fonts/Kepler-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }

  .noise {
    inset: 0;
    z-index: 2000;
    position: fixed;
    pointer-events: none;
    &:before {
      content: "";
      will-change: transform;
      top: -10rem;
      left: -10rem;
      width: calc(100% + 20rem);
      height: calc(100% + 20rem);
      position: absolute;
      pointer-events: none;
      background-position: 50%;
      background-image: url(/noise.png);
      opacity: 0.6;
      animation: noise 2s steps(2) infinite;
    }
  }
  @keyframes noise {
    0% {
      transform: translate3d(0, 9rem, 0);
    }
    10% {
      transform: translate3d(-1rem, -4rem, 0);
    }
    20% {
      transform: translate3d(-8rem, 2rem, 0);
    }
    30% {
      transform: translate3d(9rem, -9rem, 0);
    }
    40% {
      transform: translate3d(-2rem, 7rem, 0);
    }
    50% {
      transform: translate3d(-9rem, -4rem, 0);
    }
    60% {
      transform: translate3d(2rem, 6rem, 0);
    }

    70% {
      transform: translate3d(7rem, -8rem, 0);
    }
    80% {
      transform: translate3d(-9rem, 1rem, 0);
    }
    90% {
      transform: translate3d(6rem, -5rem, 0);
    }
    100% {
      transform: translate3d(-7rem, 0, 0);
    }
  }
  .hidden {
    visibility: hidden;
    pointer-events: none;
  }

  html {
    font-family: "Geist", system-ui, sans-serif;
    color: var(--clr-text-100);
    font-weight: 400;
    background-color: var(--clr-bg-900);
  }

  /* For Firefox */

  $thumbColor: #262932;
  $trackColor: #0f1014;

  html,
  body {
    // scrollbar-width: thin;
    scrollbar-color: $thumbColor $trackColor;
  }

  /* For Chrome, Safari, and Opera */
  body::-webkit-scrollbar {
    width: 10px;
  }

  body::-webkit-scrollbar-track {
    background: $trackColor;
    border-radius: 9999px;
  }

  body::-webkit-scrollbar-thumb {
    background: $thumbColor;
    border-radius: 9999px;
  }

  body::-webkit-scrollbar-thumb:hover {
    background: $thumbColor;
  }

  h1 {
    font-family: "Outfit", system-ui, sans-serif;
    font-size: 1.75rem; /* 28px -> 1.75rem */
  }

  h2 {
    font-family: "Outfit", system-ui, sans-serif;
    font-size: 1.75rem; /* 28px -> 1.75rem */
  }

  p,
  li {
    color: var(--clr-text-400);
  }
  $background-color: #07080b;
  span.accent {
    padding-inline: 0.1em;
    margin-inline: -0.1em;
    font-family: "Kepler", serif;
    font-style: italic;
    font-weight: 600;
    font-size: 1.12em;
    // line-height: 0.7;
    display: inline-block;
    background: rgb(133, 137, 157);
    background: linear-gradient(
      0deg,
      rgba(133, 137, 157, 1) 20%,
      rgba(255, 255, 255, 1) 75%
    );
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 0.01em 0.015em 0.01em rgba($background-color, 0.2);
  }

  section {
    @include s(padding-block, 70, 175);
  }

  .container {
    width: calc(100% - 32px /* 30px -> 1.875rem */);
    @include s(max-width, 700, 1070);
    margin-inline: auto;
    @include s(font-size, 16, 16);
  }

  .transition-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: yellow;
    opacity: 0;
    transform: translate3d(0, calc(-1 * 100% * var(--overlay-direction, 1)), 0);
    pointer-events: none;
  }

  html.is-changing .transition-overlay {
    transition: transform 400ms ease-in-out;
    opacity: 1;
  }

  html.is-animating .transition-overlay {
    transform: translate3d(0, 0, 0);
  }

  html.is-rendering .transition-overlay {
    transform: translate3d(0, calc(var(--overlay-direction, 1) * 100%), 0);
  }
</style>
<script>
  import "../js/main";
</script>
