---
import Title from "../../Title.astro";
import Button from "../../Button.astro";

import Icon from "astro-icon";
import EmblaCard from "./Embla-card.astro";
---

<section>
  <div class="container">
    <div class="heading">
      <Title
        align="left"
        mainTitle="Nos Modules qui"
        accent="Composent Votre Site"
        subTitle="Modules Disponibles"
      />
      <p>
        Explorez les différents modules qui peuvent être intégrés dans votre
        site. Que ce soit pour augmenter le nombre de pages, enrichir le design
        ou ajouter à fonctionnalités, trouvez ce qui correspond à vos besoins.
      </p>
      <div class="button-wrapper">
        <Button text="Ouvrir le configurateur" />
        <Button secondary text="Découvrir notre offre de support" />
      </div>
    </div>

    <div class="embla">
      <h3>Modules de page</h3>
      <div class="embla__viewport">
        <div class="embla__container">
          <EmblaCard
            title="1 page"
            description="Every site element is meticulously crafted tto ensu."
            iconName="1page-icon"
          />
          <EmblaCard
            title="Jusqu'à 5 pages"
            description="Every site element is meticulously crafted tto ensu."
            iconName="5page-icon"
          />
          <EmblaCard
            title="Jusqu'à 10 pages"
            description="Every site element is meticulously crafted tto ensu."
            iconName="10page-icon"
          />
          <EmblaCard
            title="1 page"
            description="Every site element is meticulously crafted tto ensu."
            iconName="1page-icon"
          />
          <EmblaCard
            title="1 page"
            description="Every site element is meticulously crafted tto ensu."
            iconName="1page-icon"
          />
        </div>
      </div>

      <div class="embla__buttons">
        <button
          class="embla__button embla__button--prev magnetic"
          data-strength="30"
          data-strength-text="20"
          type="button"
        >
          <Icon class="btn-text" name="card-arrow-left" />
        </button>
        <button
          class="embla__button embla__button--next magnetic"
          data-strength="30"
          data-strength-text="20"
          type="button"
        >
          <Icon class="btn-text" name="card-arrow" />
        </button>
      </div>
    </div>
    <div class="embla">
      <h3>Modules de page</h3>
      <div class="embla__viewport">
        <div class="embla__container">
          <EmblaCard
            title="1 page"
            description="Every site element is meticulously crafted tto ensu."
            iconName="1page-icon"
          />
          <EmblaCard
            title="1 page"
            description="Every site element is meticulously crafted tto ensu."
            iconName="1page-icon"
          />
          <EmblaCard
            title="1 page"
            description="Every site element is meticulously crafted tto ensu."
            iconName="1page-icon"
          />
          <EmblaCard
            title="1 page"
            description="Every site element is meticulously crafted tto ensu."
            iconName="1page-icon"
          />
          <EmblaCard
            title="1 page"
            description="Every site element is meticulously crafted tto ensu."
            iconName="1page-icon"
          />
        </div>
      </div>

      <div class="embla__buttons">
        <button
          class="embla__button embla__button--prev magnetic"
          data-strength="30"
          data-strength-text="20"
          type="button"
        >
          <Icon name="card-arrow-left" class="btn-text" />
        </button>
        <button
          class="embla__button embla__button--next magnetic"
          data-strength="30"
          data-strength-text="20"
          type="button"
        >
          <Icon class="btn-text" name="card-arrow" />
        </button>
      </div>
    </div>
    <div class="embla">
      <h3>Modules de page</h3>
      <div class="embla__viewport">
        <div class="embla__container">
          <EmblaCard
            title="1 page"
            description="Every site element is meticulously crafted tto ensu."
            iconName="1page-icon"
          />
          <EmblaCard
            title="1 page"
            description="Every site element is meticulously crafted tto ensu."
            iconName="1page-icon"
          />
          <EmblaCard
            title="1 page"
            description="Every site element is meticulously crafted tto ensu."
            iconName="1page-icon"
          />
          <EmblaCard
            title="1 page"
            description="Every site element is meticulously crafted tto ensu."
            iconName="1page-icon"
          />
          <EmblaCard
            title="1 page"
            description="Every site element is meticulously crafted tto ensu."
            iconName="1page-icon"
          />
        </div>
      </div>

      <div class="embla__buttons">
        <button
          class="embla__button embla__button--prev magnetic"
          data-strength="30"
          data-strength-text="20"
          type="button"
        >
          <Icon class="btn-text" name="card-arrow-left" />
        </button>
        <button
          class="embla__button embla__button--next magnetic"
          data-strength="30"
          data-strength-text="20"
          type="button"
        >
          <Icon class="btn-text" name="card-arrow" />
        </button>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @use "../../../styles/utils.scss" as *;
  .container {
    position: relative;
    // overflow: hidden;
    display: flex;
    flex-direction: column;
    @include s(gap, 80, 100);
  }
  .heading {
    display: flex;
    flex-direction: column;
    @include s(gap, 20, 40);
    align-items: center;
    p {
      text-align: center;
      max-width: 52ch;
      @include s(font-size, 16, 16);
      @include s(margin-bottom, 12, 12);
    }

    .button-wrapper {
      display: flex;
      @include s(gap, 12, 12);
      flex-wrap: wrap;
      width: 100%;
      button {
        flex: 1 0 auto; /* This line is new */
        width: fit-content;
      }
    }
    @media screen and (min-width: 62.5rem) {
      align-items: flex-start;
      .button-wrapper {
        display: flex;
        @include s(gap, 12, 12);
        flex-wrap: wrap;
        width: 100%;
        button {
          flex: unset;
          width: fit-content;
        }
      }
      p {
        text-align: left;
        @include s(margin-bottom, -12, 12);
      }
    }
  }
  .embla {
    position: relative;
    @include s(font-size, 16, 16);
    // height: max-content;

    h3 {
      margin-bottom: 1.5em;
      @include s(font-size, 18, 20);
      font-weight: 600;
    }
    .embla__viewport {
      overflow: hidden;
    }
  }
  .embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    @include s(margin-left, -12, -12);
    cursor: grab;
  }

  .embla__buttons {
    display: flex;
    align-items: center;
    @include s(gap, 12, 12);
    position: absolute;
    top: -1em;
    right: 0.1em;
    transform-origin: center;
  }
  .embla__button {
    -webkit-appearance: none;
    touch-action: manipulation;
    text-decoration: none;
    color: var(--clr-bg-700);
    background-color: var(--clr-text-100);
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @include s(width, 40, 40);
    @include s(height, 40, 40);
    border-radius: 99999px;
    transition: scale 500ms cubic-bezier(0.5, 0, 0.15, 1);
    scale: 1;
    rotate: 0.001deg;
    transition: scale 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:disabled {
      // scale: 0;
      opacity: 0.3;
    }

    svg {
      @include s(width, 24, 24);
      height: auto;
    }
  }
</style>

<!-- <script>
  //@ts-nocheck
  import { addPrevNextBtnsClickHandlers } from "../../../js/embla-carousel";
  document.addEventListener("DOMContentLoaded", function () {
    const OPTIONS = { align: "start", containScroll: "trimSnaps" };

    const emblaNodes = document.querySelectorAll(".embla");

    emblaNodes.forEach((emblaNode) => {
      const viewportNode = emblaNode.querySelector(".embla__viewport");
      const prevBtn = emblaNode.querySelector(".embla__button--prev");
      const nextBtn = emblaNode.querySelector(".embla__button--next");
      const emblaApi = EmblaCarousel(viewportNode, OPTIONS);

      const removePrevNextBtnsClickHandlers = addPrevNextBtnsClickHandlers(
        emblaApi,
        prevBtn,
        nextBtn,
      );

      emblaApi.on("destroy", removePrevNextBtnsClickHandlers);
    });
  });
</script> -->
